:root{
    --main-pink:#f74780;
    --main-white:#fff;
    --bs-light: #F6F6FA;
    --bs-dark: #353f4f;
}


body{
    font-family: "Rubik", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
}

h1{
    font-family: "Plus Jakarta Sans", serif !important;
    color: var(--bs-dark)!important; 
}

h4{
    font-family: "Plus Jakarta Sans", serif !important;
    color: var(--bs-dark)!important;  
}



.nav-link.active {
    color: var(--main-pink) !important;
}


.nav-link:hover{
    color: var(--main-pink) !important;
}



.text-pink{
    color:var(--main-pink) !important;
}

.text-secondary {
    color: #6610f2 !important;
}

.text-dark {
    color: #353f4f !important;
}

.bg-pink{
    background-color:var(--main-pink);
}

.btn-pink{
    background-color:var(--main-pink);
    color: var(--main-white) !important;
}

.btn-pink:hover{
    background-color:var(--main-white);
    border: 1px solid var(--main-pink);
    color: var(--main-pink) !important;
}

.border-pink {
    border-color: var(--main-pink) !important;
}

.border-pink{
    border: 1px solid #f74780;
}

.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

.text-icon {
    color: #6610f2 !important;
}

a{
    text-decoration: none;
}

.hover1:hover{
    background-color: var(--main-pink) !important;
    color: var(--main-white) !important;
    transition: .3s;
}

.bg-light {
    background-color: #f6f6fa !important;
}



.animatad{
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;
}

.rotate-img {
    position: absolute;
    top: 70px;
    left: 20px;
}


.header::before {
    content: "";
    position: absolute;
    bottom: -9%;
    left: -7%;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 30px solid rgba(247, 71, 128, 0.05);
    background: transparent;
    animation: RotateMove 5slinear infinite;
    z-index: -1;
}

@keyframes RotateMove{
    0% {
        bottom: 0px;
    }
    50% {
        left: -10px;
    }
    75% {
        bottom: 9%;
    }
    100% {
        bottom: 0px;
    }
}

.animatad::before {
    content: "";
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 150px;
    border-width: 30px;
    border-style: solid;
    border-color: rgba(102, 16, 242, 0.05);
    border-image: initial;
    background: transparent;
    animation: RotateMoveSty-4 45s linear 0s infinite normal none running;
    transition: 0.5s;
}

@keyframes RotateMoveSty-4{
    0% {
        left: 100px;
    }
    40% {
        bottom: -0px;
    }
    50% {
        left: 700px;
    }
    70% {
        bottom: 500px;
    }
    80% {
        left: 400px;
    }
    95% {
        bottom: -0px;
    }
    100% {
        left: 100px;
    }
}

.header::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: var(--bs-light);
    border-radius: 22% 78% 33% 67% / 32% 0% 100% 68%;
    animation: bgMove 5slinear infinite;
    z-index: -1;
}

@keyframes bgMove{
    0% {
        right: 0px;
    }
    50% {
        right: 20px;
    }
    100% {
        right: 0px;
    }
}



.RotateMoveLeft {
    position: relative;
    animation: RotateMoveLeft 10s linear infinite;
}

@keyframes RotateMoveLeft{
    0% {
        left: 0px;
    }
    50% {
        left: 40px;
    }
    100% {
        left: 0px;
    }
}

.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1) !important;
    transition: 0.5s;
}

.service-item:hover {
    background: rgba(102, 16, 242, 0.09) !important;
    border: 1px;
}

.service-icon {
    background: var(--main-white) !important;
}


.btn-light {
    background: var(--bs-light) !important;
    color: var(--main-pink) !important;
    font-weight: 400;
    transition: 0.5s;
}

.btn-light:hover {
    background: var(--main-pink) !important;
    color: var(--bs-light) !important;
}

.feature-img {
    background: var(--bs-light);
    border-radius: 58% 42% 21% 79% / 30% 29% 71% 70%;
}

.RotateMoveLeft {
    position: relative;
    animation: RotateMoveLeft 10slinear infinite;
}

@keyframes RotateMoveLeft{
    0% {
        left: 0px;
    }
    50% {
        left: 40px;
    }
    100% {
        left: 0px;
    }
}


.accordion-button:focus {
    z-index: 3;
    border-color: #fba3c0;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(247, 71, 128, .25);
}

.accordion-button:not(.collapsed) {
    color: #de4073;
    background-color: #feedf2;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}



.price-item:hover {
    background: var(--bs-white) !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.price-item {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.pice-item-offer {
    position: absolute;
    width: 200px;
    height: 110px;
    top: -45px;
    right: -80px;
    background: var(--main-pink) !important;
    color: var(--main-white);
    transform: rotate(42deg);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}


.blog-img {
    position: relative;
    overflow: hidden;
    background: rgba(102, 16, 242, 0.2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog-img:hover::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #353f4f6b;
}

.blog-img img {
    transition: 0.5s;
}

.blog-img:hover img {
    transform: scale(1.3);
}

.blog-info {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: rgba(102, 16, 242, 0.2);
    color: var(--main-white) !important;
    display: flex;
    align-items: end;
    justify-content: space-between;
    transition: 0.5s;
}

.blog-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.testimonial {
    position: relative;
    background: #F6F6FA;
    overflow: hidden;
    z-index: 1;
}

.owl-carousel {
    position: relative;
    padding: 0 35px;
    transition: 0.5s;
}

.owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-stage{
    transform: translate3d(-3753px, 0px, 0px);
    transition: 1.5s;
    width: 8757px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.footer {
    background: linear-gradient(rgba(102, 16, 242, 0.05), rgba(102, 16, 242, 0.05));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-item a {
    line-height: 35px;
    color: var(--bs-dark);
    transition: 0.5s;
    text-decoration: none;
}

.footer-item a:hover {
    letter-spacing: 2px;
    color: var(--main-pink);
}


.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

a {
    color: #f74780;
    text-decoration: none;
}


.btn-square {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}    

.btn-lg-square {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

